{% extends 'base.html' %}
{% block content %}
<div class="login">
 <h2>User Login</h2>
 {% if error %}
<p style="color:red;">
     {{ error }}
 </p>
 {% endif %}
 <form method="POST">
     {% csrf_token %}
     <label>Username</label>
     <input type="text" name="username"><br><br>
     <label>Password</label>
     <input type="password" name="password"><br><br>
     <button type="submit">Login</button>
 </form>
 <p>
 New User?
 <a href="/register/">Register Here</a>
 </p>
</div>
{% endblock %}